#tensorflow
#keras
matplotlib
nptyping
numpy
scikit_learn
scipy
setuptools
opencv-python
sklearn
scikit-image

torch
torchvision
torchaudio
lightning
wandb

pyqtgraph
psychopy
psychtoolbox
pylsl
pyxdf
